---
title: VillasMetaTitle
description: VillasMetaDescription
keywords:
breadcrumbstitle:
apname:
ogtitle:
ogdescription:
ogurl:
ogtype:
ogimage:
ogsitename:
twcard: summary
twsite:
twimage:
twdescription:
scname:
scdescription:
scimage:
---

<main>
  <%= partial "partials/blocks/bl-villas-hero" %>
  <%= partial "partials/blocks/bl-villas-advantages" %>
  <%= partial "partials/blocks/bl-villas-video" %>
</main>