@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply text-dark;
    }
    /* elements */
    .el-logo {
        width: 148px;
    }
    .el-main-menu {
        @apply flex flex-row justify-center items-center;
    }

    .el-main-menu li {
        @apply ml-14;
    }

    .el-main-menu a {
        @apply hover:border-b-2 border-primary pb-3 text-lg;
    }

    .el-lang-menu-button {
        @apply inline-flex justify-center w-full border border-gray-300 shadow-sm p-2;
    }

    .el-lang-menu-button-icon {
        @apply -mr-1 ml-1 h-5 w-5;
    }

    .el-lang-menu-options {
       @apply absolute bg-white mt-2 origin-top-right right-0 shadow-lg w-44; 
       z-index: 99999;
    }

    .el-lang-menu-options-item {
        @apply text-gray-700 block px-4 py-2 text-sm;
    }

    .el-home-slide {
        height: calc(100vh - 200px);
    }

    .el-villas-hero-title {
        @apply text-2xl leading-8 uppercase font-normal;
    }

    .el-villas-hero-text {
        @apply text-5xl mt-5;
        line-height: 58px;
    }

    .el-villas-hero-button {
        @apply mt-10 bg-white/70 hover:bg-primary text-primary hover:text-white py-4 px-6 text-lg uppercase leading-5 border-2 border-primary;
    }

    .el-villas-advantages-icon {
        @apply text-primary;
    }

    .el-villas-advantages-title {
        @apply text-4xl font-medium mt-8 h-auto lg:h-20;
    }

    .el-villas-advantages-text {
        @apply mt-8 lg:mt-2 leading-8;
    }

    .el-villas-video-icon {
        @apply text-white text-5xl
    }

    .el-new-promo-carousel-title {
        @apply text-2xl leading-8 uppercase font-normal text-center tracking-widest;
    }

    .el-new-promo-carousel-text {
        @apply text-4xl leading-10 text-center mt-3;
    }

    .el-new-promo-carousel-legend {
       @apply block text-xs text-center my-10; 
    }

    .el-villas-carousel-title {
        @apply text-3xl mt-5;
    }

    .el-villas-carousel-link {
        @apply inline-block text-primary uppercase border-b-2 border-white hover:border-primary pb-1 mt-4 text-lg;
    }

    /* components */
    .co-main-menu {
        @apply flex flex-row items-center justify-center;
    }
    
    .co-lang-menu {
        @apply relative inline-block text-left ml-14;
    }

    .co-villas-hero-content {
        @apply container mx-auto;
    }

    .co-villas-advantages-item {
        @apply px-10 mb-20 lg:mb-0;
    }

    /* blocks */
    .bl-header, .bl-footer {
        @apply container mx-auto flex flex-row justify-between items-center py-4;
        height: 100px;
    }

    .bl-footer {
        @apply text-sm;
    }

    .bl-footer p {
        @apply mr-10;
    }
    
    .bl-footer p > span {
        @apply font-bold;
    }

    .bl-footer a {
        @apply text-lg;
    }

    .bl-villas-hero {
        @apply w-full py-44 bg-villas-hero;
        height: 800px;
    }

    .bl-villas-advantages {
        @apply container mx-auto my-36 text-center flex flex-col lg:flex-row  items-start justify-center;
    }

    .bl-villas-video {
        @apply flex flex-row items-center justify-center bg-video-cover;
        height: 800px;
    }

    .bl-new-promo-carousel {
        @apply py-10;
    }
}