<section class="bl-entorno-intro">
    <h1 class="el-title">Entorno</h1>
    <p>Un entorno privilegiado en pleno Mar Mediterraneo. Las villas se encuentran en la urbanización Sol de Mallorca , en el término municipal de Calviá, en plena naturaleza. Es una de las zonas mas lujosas de la isla con algunas de las mejores playas como Portals Vells y Bella Dona. En coche se encuentra a menos de 10 minutos de 10 playas, 5 puertos deportivos , 8 campos de golf , y 2 de las marinas mas importantes del Mediterraneo, Puerto Portals y Port Adriano.</p>
</section>