<div class="bl-villas-advantages">
    <div class="co-villas-advantages-item">
        <i class="el-villas-advantages-icon fa-solid fa-star fa-3x"></i>
        <p class="el-villas-advantages-title">Villas Exclusivas</p>
        <p class="el-villas-advantages-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum risus lectus, quis porta lacus egestas vel. Phasellus rutrum eget massa et mollis. </p>
    </div>

    <div class="co-villas-advantages-item">
        <i class="el-villas-advantages-icon fa-solid fa-location-dot fa-3x"></i>
        <p class="el-villas-advantages-title">Inmejorable Ubicación</p>
        <p class="el-villas-advantages-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum risus lectus, quis porta lacus egestas vel. Phasellus rutrum eget massa et mollis. </p>
    </div>

    <div class="co-villas-advantages-item">
        <i class="el-villas-advantages-icon fa-solid fa-check-circle fa-3x"></i>
        <p class="el-villas-advantages-title">Máxima Calidad</p>
        <p class="el-villas-advantages-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum risus lectus, quis porta lacus egestas vel. Phasellus rutrum eget massa et mollis. </p>
    </div>
</div>