<section class="splide splide-hero bl-home-slider" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide el-home-slide">
				<%= image_tag 'slide-home/01.png', :alt => "Plein Soleil Mallorca" %>
			</li>
			<li class="splide__slide el-home-slide">
				<%= image_tag 'slide-home/02.png', :alt => "Plein Soleil Mallorca" %>
			</li>
			<li class="splide__slide el-home-slide">
				<%= image_tag 'slide-home/03.png', :alt => "Plein Soleil Mallorca" %>
			</li>
		</ul>
  </div>
</section>

<script>
document.addEventListener( 'DOMContentLoaded', function() {
  let splide = new Splide( '.splide', {
      type  : 'fade',
      rewind: true,
      cover: true,
  } );

  splide.mount();
} );
</script>