<footer class="bl-footer">
    <p>Pleinsoleil MALLORCA · C/ Costa de Calviá Nº 9 (07181 Sol de Mallorca) · <span>Teléfono:</span> +34 971 131 552 · <span>Móvil</span>: 607 629 947 / 663 567 522</p>
    <%= link_to 'Contacto', '/contacto/' %>
</footer>