<section class="bl-villas-hero">
    <div class="co-villas-hero-content">
        <h1 class="el-villas-hero-title">Nuevas villas en venta</h1>
        <p class="el-villas-hero-text">Luz, brillo, Mediterráneo, lujo, ... <br /> ¡Un privilegio!</p>
        <button class="el-villas-hero-button">¡Solicita información!</button>
    </div>
</section>